<div class="counters-wrap">
    <div class="container">
        <div class="counters">
            <div class="counters-items">
                <img class="counters-items__icon" src="../images/counters/clients.png" alt="clients">
                <h2 class="counters-items__number">3587</h2>
                <p class="counters-items__name">SATISFIED CLIENTS</p>
            </div>
            <div class="counters-items">
                <img class="counters-items__icon" src="../images/counters/coffee.png" alt="coffee">
                <h2 class="counters-items__number">207</h2>
                <p class="counters-items__name">CUPS OF COFFEE</p>
            </div>
            <div class="counters-items">
                <img class="counters-items__icon" src="../images/counters/post.png" alt="post">
                <h2 class="counters-items__number">2500</h2>
                <p class="counters-items__name">BLOG POSTS</p>
            </div>
            <div class="counters-items">
                <img class="counters-items__icon" src="../images/counters/likes.png" alt="like">
                <h2 class="counters-items__number">873</h2>
                <p class="counters-items__name">LIKES</p>
            </div>
            <div class="counters-items">
                <img class="counters-items__icon" src="../images/counters/launch.png" alt="launch">
                <h2 class="counters-items__number">900</h2>
                <p class="counters-items__name">WE LAUNCHED</p>
            </div>
        </div>
    </div>
</div>