<div class="excellent-wrap">
    <div class="container">
        <div class="excellent">
            <div class="excellent-picture"><img class="excellent-picture__image"
                    src="../images/excellent/iPhone in hand.png" alt="iPhone"></div>
            <div class="excellent-text">
                <h2 class="excellent-text__title">Excellent for Mobile Devices.</h2>
                <p class="excellent-text__subtitle">Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores
                    legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum
                    clari,
                    fiant sollemnes in futurum.</p>
                    <div class="excellent-text__list">
                        <ul>
                            <li>Nam liber tempor cum soluta nobis eleifend option;</li>
                            <li>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
                            <li>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                            <li>Investigationes demonstraverunt lectores</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>