<footer class="footer-wrap">
    <div class="container">
        <div class="footer">
            <div class="footer-waxom">
                <div class="footer-waxom__logo"><img class="footer-waxom__image" src="../images/header/Waxom__logo.png" alt="Waxom logo"></div>
                <p class="footer-waxom__subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                    veniam, quis nostrud exerci suscipit lobortis claritatem.</p>
                <h4 class="footer-waxom__more">Read More</h4>
            </div>
            <div class="footer-posts">
                <h3 class="footer__title">Recent Posts</h3>
                <div class="footer__elements">
                    <h5 class="footer-posts__date">September 08, 2015</h5>
                    <p class="footer-posts__subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <div class="footer__elements">
                    <h5 class="footer-posts__date">September 08, 2015</h5>
                    <p class="footer-posts__subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <div class="footer__elements">
                    <h5 class="footer-posts__date">September 08, 2015</h5>
                    <p class="footer-posts__subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
            <div class="footer-twitter">
                <h3 class="footer__title">Our Twitter</h3>
                <div class="footer__elements">
                    <p class="footer-twitter__subtitle">@waxom Cum soluta nobis eleifend option congue nihil imperdiet
                        doming</p>
                    <h5 class="footer-twitter__time">3 mins ago</h5>
                </div>
                <div class="footer__elements">
                    <p class="footer-twitter__subtitle">Mirum est #envato notare quam littera gothica, quam nunc putamus
                        parum anteposuerit litterarum</p>
                    <h5 class="footer-twitter__time">5 hours ago</h5>
                </div>
                <div class="footer__elements">
                    <p class="footer-twitter__subtitle">Soluta nobis option bit.ly/1Hniso7</p>
                    <h5 class="footer-twitter__time">20 days ago</h5>
                </div>
            </div>
            <div class="footer-widget">
                <h3 class="footer__title">Dribbble Widget</h3>
                <div class="footer-widget__items"><img class="footer-widget__image" src="../images/footer/photo 1.png" alt="photo 1"></div>
                <div class="footer-widget__items"><img class="footer-widget__image" src="../images/footer/photo 2.png" alt="photo 2"></div>
                <div class="footer-widget__items"><img class="footer-widget__image" src="../images/footer/photo 3.png" alt="photo 3"></div>
                <div class="footer-widget__items"><img class="footer-widget__image" src="../images/footer/photo 4.png" alt="photo 4"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__text">
            <p class="footer-bottom__subtitle">Copyright &copy; 2015 Waxom</p>
        </div>
        <div class="footer-bottom__text">
            <p class="footer-bottom__subtitle">Privacy Policy</p>
        </div>
        <div class="footer-bottom__text">
            <p class="footer-bottom__subtitle">FAQ</p>
        </div>
        <div class="footer-bottom__text">
            <p class="footer-bottom__subtitle">Support</p>
        </div>
</footer>