<header class="header-wrap">
    <div class="container">
        <div class="header">
            <div class="header-navbar">
                <div class="header-navbar__logo">
                    <img class="header-navbar__img" src="../images/header/Waxom__logo.png" alt="Logo">
                </div>
                <div class="header-navbar__menu">
                    <a class="header-navbar__links" href="#">Home</a> <a class="header-navbar__links" href="#">About
                        Us</a>
                    <a class="header-navbar__links" href="#">Portfolio</a> <a class="header-navbar__links"
                        href="#">Features</a> <a class="header-navbar__links" href="#">Blog</a> <a
                        class="header-navbar__links" href="#">Pricing</a>
                    <a class="header-navbar__links" href="#">Shortcodes</a> <a class="header-navbar__links"
                        href="#">Contact</a>
                </div>
            </div>
            <div class="header-main">
                <div class="header-main__text">
                    <h2 class="header-main__headline">Unique and Modern Design</h2>
                    <h1 class="header-main__title">Portfolio PSD Template</h1>
                    <p class="header-main__subtitle">Nam liber tempor cum soluta nobis eleifend option congue nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <div class="header-main__button">
                        <button class="header-main__btn">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>