<div class="projects-wrap">
    <div class="container">
        <div class="projects">
            <div class="projects-text">
                <h2 class="projects-text__title">Our Latest Projects.</h2>
                <p class="projects-text__subtitle">Investigationes demonstraverunt lectores legere me lius quod ii
                    legunt
                    saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
            </div>
            <div class="projects-menu">
                <a class="projects-menu__link all">All</a> <a class="projects-menu__link design">Web Design</a> <a
                    class="projects-menu__link mobile">Mobile App</a>
                <a class="projects-menu__link illus">Illustration</a> <a class="projects-menu__link camera">Photography</a>
            </div>
            <div class="projects-items">
                <img class="projects-items__images app" src="../images/projects/project 1.png" alt="Latest projects">
                <img class="projects-items__images illustration" src="../images/projects/project 2.png" alt="Latest projects">
                <img class="projects-items__images web" src="../images/projects/project 3.png" alt="Latest projects">
                <img class="projects-items__images photo" src="../images/projects/project 4.png" alt="Latest projects">
                <img class="projects-items__images web" src="../images/projects/project 5.png" alt="Latest projects">
                <img class="projects-items__images photo" src="../images/projects/project 6.png" alt="Latest projects">
            </div>
            <div class="projects-button"><button class="projects-button__btn">LOAD MORE</button></div>
        </div>
    </div>
</div>