<div class="realization-wrap">
    <div class="container">
        <div class="realization">
            <div class="realization-top">
                <h2 class="realization-top__title">Waxom is Realization of your Ideas.</h2>
                <p class="realization-top__subtitle">Investigationes demonstraverunt lectores legere me lius quod ii
                    legunt
                    saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
            </div>
            <div class="realization-center">
                <img class="realization-center__image" src="../images/realization/background-realization.png" alt="web-page variant">
            </div>
        </div>
    </div>
    <div class="realization-bottom">
        <div class="realization-bottom__text">
            <h2 class="realization-bottom__title"><span>Waxom</span> Multipurpose WordPress Theme</h2>
            <p class="realization-bottom__subtitle">Don't Forget to Rate the Template. Thanks so much!</p>
        </div>
        <div class="realization-bottom__button"><button class="realization-bottom__btn">PURCHASE NOW</button>
        </div>
    </div>
</div>