<div class="posts-wrap">
    <div class="container">
        <div class="posts">
            <div class="posts-text">
                <h2 class="posts-text__title">Recent Posts</h2>
                <p class="posts-text__subtitle">Investigationes demonstraverunt lectores legere me lius quod ii legunt
                    saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
            </div>
            <div class="posts-items">
                    <img class="posts-items__image" src="../images/recent posts/post 1.png" alt="post 1">

                    <h3 class="posts-items__title">Lorem ipsum dolor sit amet</h3>
                    <p class="posts-items__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium.</p>
                    <h4 class="posts-items__more">Read More</h4>
                </div>
                <div class="posts-items">
                    <img class="posts-items__image" src="../images/recent posts/post 2.png" alt="post 2">
                    <h3 class="posts-items__title">Lorem ipsum dolor sit amet</h3>
                    <p class="posts-items__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium.</p>
                    <h4 class="posts-items__more">Read More</h4>
                </div>
                <div class="posts-items">
                    <img class="posts-items__image" src="../images/recent posts/post 3.png" alt="post 3">
                    <h3 class="posts-items__title">Lorem ipsum dolor sit amet</h3>
                    <p class="posts-items__subtitle">Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium.</p>
                    <h4 class="posts-items__more">Read More</h4>
                </div>

            </div>
        </div>
    </div>
</div>