<div class="services-wrap">
    <div class="container">
        <div class="services">
            <div class="services-type"><img class="services-type__image" src="../images/services/web-design.png"
                    alt="service web-design">
                <h3 class="services-type__title">Web & App Design</h3>
                <p class="services-type__subtitle">Nam liber tempor cum soluta nobis eleifend option congue nihil
                    imperdiet
                    doming id quod mazim.</p>
            </div>
            <div class="services-type"><img class="services-type__image" src="../images/services/development.png"
                    alt="service development">
                <h3 class="services-type__title">Development</h3>
                <p class="services-type__subtitle">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet.</p>
            </div>
            <div class="services-type"><img class="services-type__image" src="../images/services/customization.png"
                    alt="service customization">
                <h3 class="services-type__title">Customization</h3>
                <p class="services-type__subtitle">Nam liber tempor cum soluta nobis eleifend option congue nihil
                    imperdiet
                    doming id quod mazim.</p>
            </div>
            <div class="services-type"><img class="services-type__image" src="../images/services/marketing.png"
                    alt="service marceting">
                <h3 class="services-type__title">Marketing</h3>
                <p class="services-type__subtitle">Nam liber tempor cum soluta nobis eleifend option congue nihil
                    imperdiet
                    doming id quod mazim.</p>
            </div>
        </div>
    </div>